@font-face {
  font-family: "iconfont"; /* Project id 3678951 */
  src: url('iconfont.woff2?t=1664609316889') format('woff2'),
       url('iconfont.woff?t=1664609316889') format('woff'),
       url('iconfont.ttf?t=1664609316889') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tuichu:before {
  content: "\e657";
}

.icon-aixin:before {
  content: "\e658";
}

.icon-zuojiantou:before {
  content: "\e64e";
}

.icon-sousuo:before {
  content: "\e60f";
}

.icon-jia:before {
  content: "\e600";
}

.icon-more:before {
  content: "\e601";
}

.icon-weixinzhifu:before {
  content: "\e62b";
}

.icon-arrow-right:before {
  content: "\e646";
}

.icon-star:before {
  content: "\e61b";
}

.icon-sanjiaoright:before {
  content: "\e6b7";
}

.icon-dianzan:before {
  content: "\e656";
}

.icon-wenzhang:before {
  content: "\e643";
}

.icon-paixu:before {
  content: "\e608";
}

.icon-pinglun2:before {
  content: "\e684";
}

.icon-chahao:before {
  content: "\e669";
}

.icon-xiajiantou:before {
  content: "\e602";
}

.icon--huxiangguanzhu:before {
  content: "\e607";
}

.icon-xingzhuang-sanjiaoxing:before {
  content: "\eb99";
}

.icon-fenxiang:before {
  content: "\e603";
}

.icon-kefu:before {
  content: "\e665";
}

.icon-youjian:before {
  content: "\e64b";
}

.icon-gouwuche:before {
  content: "\e668";
}

.icon-zhifubao:before {
  content: "\e68a";
}

.icon-shoucang:before {
  content: "\e8c6";
}

.icon-dui:before {
  content: "\e715";
}

.icon-checkbox:before {
  content: "\ea70";
}

.icon-tuoyuanxing:before {
  content: "\e627";
}

.icon-caogao:before {
  content: "\e72e";
}

.icon-buxihuan:before {
  content: "\e65d";
}

.icon-chongdian:before {
  content: "\e606";
}

